@use '../../styles/styles.scss';


@use "@/styles/configs";


.row__row-see-more, .row {
    display: flex;
    padding-bottom: configs.$space-2;
    gap: configs.$space-2 configs.$space-2;
    align-content: space-around;
    justify-content: space-evenly
} 


@media only screen and (max-width: 720px) {

.row__row-see-more {
    display: grid;
    column-gap: configs.$space-1;
    row-gap: configs.$space-1;
    grid-template-columns: repeat(2, 1fr);
  }
}
